/* Estilos de lista */
li {
    display: inline;
  }
  li a:hover {
    background-color: rgb(243, 219, 219);
  }
  
  /* Estilos de encabezado */
  header {
    background-color: #bcb2ac;
    padding: 20px;
    text-align: center;
  }
  .titulo {
    font-size: 24px;
    color: black;
    margin: 0 auto;
  }
  header {
    background-image: url(Imagen-header.jpg);
    background-size: cover;
    height: 400px;
    position: relative;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  
  /* Estilos de navegación */
  nav {
    background-color: #B2B2BE;
    padding: 20px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav a {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  /* Estilos de sección de galería */
.img-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  width: 20%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.img-pequena {
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 5px;
}

.img-container figcaption {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

/* Estilos de sección de galería para Nosotros.html */
.nosotros-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.nosotros-gallery .img-container {
  text-align: center;
}

.nosotros-gallery .img-pequena {
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 5px;
}

.nosotros-gallery .img-container figcaption {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

    /* Estilo del video */

        video {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
          }
          
          video:not([controls]) {
            /* Ocultar controles en navegadores que no soportan el atributo "controls" */
            display: none;
          }
          
          /* Centrar contenido de la sección */
          section {
            text-align: center;
          }
          
      
 
  /* Estilos de encabezados y párrafos */
  h1 {
    font-weight: bold;
    font-size: large;
    color: #292927;
    margin: 1px;
    border: 5px;
    border-width: 5px;
    border-color: #2b2323;
    margin-left: 2px;
  }
  h2 {
    font-weight: bold;
    font-size: medium;
    color: #292927;
    text-align: center;
  }
  h3 {
    font-weight: lighter;
    font-size: medium;
    color: #292927;
    font-style: italic;
  }
  h4 {
    font-weight: bold;
    font-size: smaller;
    color: #292927;
    font-style: italic;
    text-align: right;
  }
  p {
    color: grey;
    font-size: medium;
    font-weight: lighter;
    margin-left: 40px;
    margin-right: 40px;
  }
  
 /* Estilos de cuerpo y pie de página */
body {
  background-color: #F8F8F8;
}

footer {
  background-color: #d8c8be;
  color: black;
  text-align: left;
  font-size: small;
  font-style: italic;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 40px;
}

.pie {
  font-size: 14px;
  color: black;
  margin: 5px;
}

/* Estilos para las columnas del footer */
.container .row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  width: 33.33%;
  padding: 0 20px;
  box-sizing: border-box;
}

.col-md-4 h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.col-md-4 p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.footer-links {
  list-style: none;
  padding-left: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: black;
}



  
  /* Estilos para pantallas pequeñas (hasta 767px de ancho) */
  @media (max-width: 767px) {
    iframe {
      width: 100%;
      height: auto;
    }
  }
  
  /* Estilos para pantallas medianas (entre 768px y 991px de ancho) */
  @media (min-width: 768px) and (max-width: 991px) {
    iframe {
      width: 50%;
      height: 500px;
    }
  }
  
  /* Estilos para pantallas grandes (más de 992px de ancho) */
  @media (min-width: 992px) {
    iframe {
      width: 50%;
      height: 500px;
    }
  }
/* Estilos para los cuadros de texto */
.text-box {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .text-box h3 {
    margin-top: 0;
  }
  
  .text-box p {
    margin-bottom: 10px;
  }
  
  .text-box .read-more {
    display: none;
  }
  
  .text-box .read-more-trigger {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}   
.redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .redes-sociales a {
    display: block;
    margin: 0 10px;
  }
  
  /* Estilos para las imágenes que no son de la gallery */
  .img-pequena {
    max-width: 450px;
    height: auto;
}

/* Estilos para el botón llamativo */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta la altura según tus necesidades */
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #FF9800; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #FFC107; /* Color de fondo del botón al pasar el cursor */
}

/* Estilos para la grilla de imágenes en la página de Actividades y Servicios */
.activities-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  gap: 20px; /* Espacio entre las imágenes */
}

.activities-section .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities-section .img-pequena {
  max-width: 100%;
  height: auto;
}

.activities-section figcaption {
  margin-top: 10px;
  text-align: center;
}

/* Estilos para el aside */
.aside-content {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Agrega un margen superior para separar del contenido principal */
}

.aside-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #292927; /* Cambia el color del título si lo deseas */
}

.aside-content p {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #555; /* Cambia el color del texto si lo deseas */
}

.promo-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.promo-details {
  font-size: 0.8rem;
  color: #666;
}

/* Estilos para la lista */
.aside-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside-content ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.aside-content ul li::before {
  content: "\2022"; /* Agrega un símbolo de viñeta */
  position: absolute;
  left: 0;
  color: #FF9800; /* Color del símbolo */
}


  
